{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>User: {{ user.first_name }}</h1></td>
        </tr>
    </table>
    <hr>
    <a href="{{ url_for('create_new_char', username=current_user.username) }}">Create New Character</a>

    {% if characters_list_exist == 0 %}
	    
		{% for character in characters %}
    		{% include '_character.html' %}
    	{% endfor %}

	{% else %}
	    <h1>You should create a new character!</h1>

	{% endif %}
{% endblock %}